body{
	background-image: url(images/pattern-background-desktop.svg);
	background-color: hsl(225, 100%, 94%);
	background-size: 100% auto;
	background-repeat: no-repeat;
	display:flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Outfit', sans-serif;
	font-size: 14px;
	box-sizing: border-box;
}
.card{
	width: 100%;
	max-width: 350px;
	background-color: white;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1.5em;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card__hero-img{
	width: 100%;
	max-width: 350px;
	height: auto;
	border-radius: 25px 25px 0px 0px;
}
.card__plan{
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color: hsl(225, 100%, 98%);
	height: 5em;
	width: 100%;
	max-width: 280px;
	border-radius: 15px;
}
.card__block{
	width: 100%;
	max-width: 280px;
	border-radius: 15px;
}
.card__plan-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap:1em;
}
.card__blue-background{
	background-color: hsl(245, 75%, 52%);
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	height:3em;
	box-shadow: 0em 0.5em 0.4em 0.5em hsl(225, 100%, 98%) ;
}
.card__blue-background:hover, .plan__change:hover{
	transition: 0.3s ease;
	opacity: 0.7;
	text-decoration: none;
}
.plan__change:link, .plan__change:visited{
	color:hsl(245, 75%, 52%);
}
.card__cancel:link, .card__cancel:visited{
	color:inherit;
	text-decoration: none;
	font-weight: 700;
}
.card__cancel:hover{
	transition: 0.3s ease;
	color:hsl(223, 47%, 23%);
}
.centered{
	text-align: center;
	width: 100%;
	max-width: 250px;
}
h1{
	margin-top: 1.5em;
	margin-bottom: 0.1em;
	font-size: 16px;
}
.bold{
	font-weight: 900;
	color:hsl(223, 47%, 23%)
}
p{
	color:hsl(224, 23%, 55%);
	font-weight: 400;
	font-size: 14px;
}
.music-icon{
	margin-left: 1em;
}
.right-margin{
	margin-right: 1em;
}
.low-line{
	line-height: 0.5em;
}
div{
	margin: 1em 0;
}
.white{
	color: white;
}
@media (max-width: 500px){
	body{
		background-image: url(images/pattern-background-mobile.svg);
	}
}